{% extends "workshop_app/base.html" %}
{% load static %}

{% block title %}
    Workshop Status
{% endblock %}

{% block extra-dependencies %}
    <link rel="stylesheet" href="{% static 'workshop_app/css/jquery-ui.css' %}" type="text/css"/>
    <script src="{% static 'workshop_app/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'workshop_app/js/jquery-ui.min.js' %}"></script>
{% endblock %}
{% block extra-custom-scripts %}
    {% load static %}
    <script src="{% static 'workshop_app/js/datepicker.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="container view-container">
    {% if not workshops %}
        <div class="card p-5 mt-4 text-center">
            <h1 class="font-weight-bold" style="margin-bottom: 20px;">Welcome {{ user.first_name }}</h1>
            <p class="mb-0 mt-3" style="font-size: 1.1rem;">Your workshop related information will be shown here, Please navigate to <b>Workshop list</b> and depending upon your expertise and availability accept or create a workshop.</p>
        </div>
    {% else %}
        <div class="card p-4 mt-4 text-center">
            <h2 class="font-weight-bold m-0 w-100">The status of your workshops</h2>
        </div>

        <!-- Accepted View -->
        <div class="card p-4 mt-4">
            <h3 class="font-weight-bold mb-4">Workshops Accepted</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Coordinator Name</th>
                        <th>Institute</th>
                        <th>Workshop Name</th>
                        <th>Workshop Day</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for workshop in workshops %}
                        {% if workshop.status %}
                        <tr>
                            <td>
                                <a href="{% url 'workshop_app:view_profile' workshop.coordinator.id %}" class="text-dark font-weight-bold">
                                    {{ workshop.coordinator.get_full_name }}</a>
                            </td>
                            <td>{{ workshop.coordinator.profile.institute }}</td>
                            <td class="font-weight-bold">{{ workshop.workshop_type |capfirst }}</td>
                            <td>{{ workshop.date | date }}
                                {% if workshop.date > today %}
                                    <span class="material-icons datepicker"
                                          style="cursor: pointer; vertical-align: middle; margin-left: 5px;"
                                          data-toggle="popinfo"
                                          title="Note"
                                          data-content="Click here to change date"
                                          onclick="changeDate('R,{{ workshop.date| safe }}, {{ forloop.counter }}')">event</span>
                                    <div class="myDialogR{{ forloop.counter }}" style="display: none;"
                                         title="Select New Date">
                                        <form method="post" action="{% url 'workshop_app:change_workshop_date' workshop.id %}">
                                            <input type="text" placeholder="New date" name="new_date"
                                                   class="form-control rDate{{ forloop.counter }} mb-2"/><br>
                                            {% csrf_token %}
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </td>
                            <td><span class="badge badge-success">{{ workshop.get_status }}</span></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Proposed View -->
        <div class="card p-4 mt-4">
            <h3 class="font-weight-bold mb-4">Workshops Proposed By Coordinators</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Coordinator Name</th>
                        <th>Institute</th>
                        <th>Workshop Name</th>
                        <th>Workshop Day</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for workshop in workshops %}
                        {% if not workshop.status and workshop.tnc_accepted %}
                        <tr>
                            <td>
                                <a href="{% url 'workshop_app:view_profile' workshop.coordinator.id %}" class="text-dark font-weight-bold">
                                    {{ workshop.coordinator.get_full_name }}</a>
                            </td>
                            <td>{{ workshop.coordinator.profile.institute }}</td>
                            <td class="font-weight-bold">{{ workshop.workshop_type }}</td>
                            <td>{{ workshop.date | date }}</td>
                            <td><span class="badge badge-warning">{{ workshop.get_status }}</span></td>
                            <td>
                                <a href="{% url 'workshop_app:accept_workshop' workshop.id %}" class="neo-btn neo-btn-primary" style="padding: 6px 12px; font-size: 14px; text-decoration: none;" onclick="return confirm('Once accepted you cannot reject, you have to personally contact the Coordinator if the workshop is to be cancelled. Are you sure you want to accept the workshop?')">
                                    Accept
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
