{% extends "workshop_app/base.html" %}

{% block title %}
    My Workshops
{% endblock %}

{% block extra-custom-scripts %}
{% endblock %}

{% block content %}
    <div class="container view-container">
    {% if not workshops %}
        <div class="card p-5 mt-4 text-center">
            <h1 class="font-weight-bold" style="margin-bottom: 20px;">Welcome {{ user.first_name }}</h1>
            <p class="mb-0 mt-3" style="font-size: 1.1rem;">
                Information related to your workshops will be shown here, you can also 
                propose a Workshop as per your available date in the <strong>Propose Workshop tab</strong>.
            </p>
        </div>
    {% else %}
        <div class="card p-4 mt-4 text-center">
            <h2 class="font-weight-bold m-0 w-100">The status of your workshops</h2>
        </div>

        <!-- Accepted View -->
        <div class="card p-4 mt-4">
            <h3 class="font-weight-bold mb-4">Workshops Accepted</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Workshop Name</th>
                        <th>Instructor Name</th>
                        <th>Workshop Day</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for workshop in workshops %}
                        {% if workshop.status %}
                        <tr>
                            <td><a href="{% url 'workshop_app:workshop_details' workshop.id %}" class="text-dark font-weight-bold">{{ workshop.workshop_type |capfirst }}</a></td>
                            <td>{{ workshop.instructor.get_full_name }}</td>
                            <td>{{ workshop.date | date }}</td>
                            <td><span class="badge badge-success">{{ workshop.get_status }}</span></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Proposed View -->
        <div class="card p-4 mt-4">
            <h3 class="font-weight-bold mb-4">Workshops Proposed By Me</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Workshop Name</th>
                        <th>Workshop Day</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for workshop in workshops %}
                        {% if not workshop.status and workshop.tnc_accepted %}
                        <tr>
                            <td><a href="{% url 'workshop_app:workshop_details' workshop.id %}" class="text-dark font-weight-bold">{{ workshop.workshop_type |capfirst }}</a></td>
                            <td>{{ workshop.date | date }}</td>
                            <td><span class="badge badge-warning">{{ workshop.get_status }}</span></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
